@{
    ViewData["Title"] = "Örökbefogadás menete:";
}
<h1>@ViewData["Title"]</h1>
<div class="textbox">
    <p>
        Mi sem egyszerűbb! Válassz egyet <a asp-controller="Home" asp-action="Animals">lakóink</a> közül és vedd fel velünk a <a asp-controller="Home" asp-action="Connections">kapcsolat</a>ot.
    Ha olyan kérdéseid vannak, amik nem szerepelnek az állat adatlapján, vagy még többet szeretnél tudni kiválasztottadról,
        akkor is nyugodtan vedd fel a <a asp-controller="Home" asp-action="Connections">kapcsolat</a>ot szakértő kollégáinkal,
        akik napi szinten kapcsolatban vannak a lakókkal.</p>
</div>