@{
    ViewData["Title"] = "Adományok";
}
<h1>@ViewData["Title"]</h1>

<h2>Számlaszámunk: 1234-1234-1234-0000-0000</h2>
<p>Közvetlenül támogathat minket átutalásokkal, amiket állateledelre, és a lakhelyek fejlesztésére, téliesítésére, és alapvető működési költségeinkre fordítunk.</p>
<h2>Támogasson minket adója 1%-val!</h2>
<p>
    Adója 1%val Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
    optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
    obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
    nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
    tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
    quia.
</p>