@{
    ViewData["Title"] = "Home Page";
}

        <section class="section1">
            <a class="control-button" asp-controller="Home"
                   asp-action="Animals" asp-route-page = 1> Lakóink </a>
            <h1>JSExample1</h1>
        </section>
        <section class="section2">
            <h1>JSExample2</h1>
        </section>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42410.964216374356!2d20.572731246736215!3d48.36657118080068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473f7186750bf341%3A0x24fbe46971fb533!2zQm9yc29kIMOBbGxhdHbDqWTFkSBBbGFww610dsOhbnk!5e0!3m2!1shu!2shu!4v1665666315788!5m2!1shu!2shu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        
