@{
    ViewData["Title"] = "Home Page";
}

        <section class="section1">
    <div class="controll-button-outer">
    <a class="control-button" asp-controller="Home"
                   asp-action="Animals" asp-route-page = 1> Lakóink </a>
                   </div>
            <h1>JSExample1</h1>
        </section>
        <section class="section2">
            <h1>JSExample2</h1>
        </section>


        
